html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}
body {
  font-family: Avenir;
  font-size: 25.6px;
  font-size: 1.6rem;
  color: #262626;
  overflow-x: hidden;
}

h1 {
  font-size: 48px;
  font-size: 3rem;
}

nav {
  box-shadow: 0 .5rem 1rem #cacaca;
}

.navigatie {
  width: 100vw;
  color: #c1c1c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 32px 0;
  padding: 2rem 0;
  font-weight: 800;
  letter-spacing: 1.6px;
  letter-spacing: .1rem;
  text-transform: uppercase
}

.navigatie a{
  color: #e83739;
  text-decoration: none;
}

.intro {
  width: 90vw;
  color: #c1c1c1;
  margin-top: 80px;
  margin-top: 5rem;
  font-size: 32px;
  font-size: 2rem;
  line-height: 40px;
  line-height: 2.5rem;
  font-weight: lighter;
}

.feed {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list {
  width: 100vw;
  margin-top: 64px;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-center {
  width: 100vw;
  margin-top: 64px;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90vw;
  margin: 32px 0 240px;
  margin: 2rem 0 15rem;
  box-shadow: 0 .5rem 1rem lightgray;
}

.title-container {
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 160px;
  margin-top: 10rem;
  width: 90vw;
}

.work-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: denmark;
  font-weight: 600;
  font-size: 48px;
  font-size: 3rem;
  margin-top: 128px;
  margin-top: 8rem;
  padding-right: 32px;
  padding-right: 2rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2
}

.work-name::after{
  content: '';
  width: 9.6px;
  width: .6rem;
  height: 160px;
  height: 10rem;
  background-color: #e83739;
  position: absolute;
  margin-left: 16px;
  margin-left: 1rem;
  margin-top: -112px;
  margin-top: -7rem;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.work-img {
  width: 90vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  background-color: white;
  border: none;
  width: 112px;
  width: 7rem;
  height: 112px;
  height: 7rem;
  border-radius: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: 0 .5rem 1rem lightgray;
  margin: 8px;
  margin: .5rem;
}

.heart {
  background-image: url(/assets/img/assets/heart.png);
  width: 65.6px;
  width: 4.1rem;
  height: 57.6px;
  height: 3.6rem;
}

.kruis {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAAByklEQVRYhb3Vu07DMBSA4T9eKLRIwDswMldFtIUJUW4CMZXHQ7CyAF24itsKDDwBEh0QEhRVXZAYEiMTbMd205wlyTmJ/ck5TqJutTYLHALTQBu4ophYAvaAN2A76lZrT8BcUuwDrQIwi8AxMJFcPwhgRrlhAjgBmgUiAKYEsEu8EmlMoyDEB9AWxK+hpcF0csaYEC3gXiSJUWN0iM9kzjsAoRRGhWkaECsSkYaMAtMk7jcrQgexYXwb2BlhgkjMagpT9sB4IWwQgMtAjAnx25i+kBCMDXFrmygLkoWpK7lGKMIVYsN0EkwjOQ9CAETdas3RAsR/zKPUhIPkWFJyPeLGdEKA+4rIuADW+LsypWERIRAVM9DU+iGIUAjANxBp8lHomCEPyd0xpqmN8383jQQiEWUl1+fva6qEYHwgOkQPWOb/1vbGuEJMiBZwA5wD6wbMQl6QLIQME6bjgsmC1B0RQ2NskHoygIr4siBUzIYvxgQxIVYyEDLOfDE6yLCILIy2gdOQvBA2zKQOo0LyRnhhJES3O1waMzeMUBAVDeI6B4SK2TRg5gWwXwBCxqkBcyCIP1BFIGyYdwFsAc/ASwEIFbMBvAKPwM4P14q03y//rgIAAAAASUVORK5CYII=);
  width: 54.4px;
  width: 3.4rem;
  height: 54.4px;
  height: 3.4rem;
}

.outro {
  color: #c1c1c1;
  width: 80vw;
  text-align: center;
  line-height: 150%;
  font-size: 32px;
  font-size: 2rem;
  font-weight: lighter;
}

.red {
  color: #e83739;
  font-weight: bold;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  background-image: url(/assets/img/assets/logo.png);
  width: 113.6px;
  width: 7.1rem;
  height: 99.2px;
  height: 6.2rem;
  margin: 32px;
  margin: 2rem;
}

.toggle-friends {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 48px;
  margin-top: 3rem;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  letter-spacing: .1rem;
  font-weight: bold;
  border-radius: 5rem;
  box-shadow: 0 .5rem 1rem #cacaca
}

.toggle-friends li a{
  text-decoration: none;
}

.active {
  background-color: #e83739
}

.active a{
  color: white;
}

.friend-button {
  width: 640px;
  width: 40rem;
  padding: 24px 16px;
  padding: 1.5rem 1rem;
  text-align: center;
  border-radius: 5rem;
}

.match {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 32px 0;
  margin: 2rem 0
}

.match a{
  color: #262626;
}

.match-img {
  width: 248px;
  width: 15.5rem;
  height: 248px;
  height: 15.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10rem;
}

.name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 80px;
  margin-left: 5rem
}

.name-container a{
  color: red;
}

.match-name {
  font-family: denmark;
  font-weight: bold;
  font-size: 36.8px;
  font-size: 2.3rem;
  margin: 16px 0;
  margin: 1rem 0
}

.match-name a{
  color: #262626;
  text-decoration: none;
}

.match-name::before{
  content: '';
  width: 128px;
  width: 8rem;
  height: 9.6px;
  height: .6rem;
  background-color: #e83739;
  position: absolute;
  margin-top: 11.2px;
  margin-top: .7rem;
  margin-left: -144px;
  margin-left: -9rem;
}

.match-count {
  color: #c1c1c1;
}

.profile {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 48px;
  margin-top: 3rem;
}

.user-name {
  font-family: denmark;
  font-size: 44.8px;
  font-size: 2.8rem;
  color: #e83739;
  font-weight: bold;
  margin: 32px 0;
  margin: 2rem 0;
  letter-spacing: 3.2px;
  letter-spacing: .2rem;
}

.user-about {
  font-family: denmark;
  font-size: 36.8px;
  font-size: 2.3rem;
  font-weight: bold;
  width: 288px;
  width: 18rem
}

.user-about::before{
  content: '';
  width: 96px;
  width: 6rem;
  height: 9.6px;
  height: .6rem;
  background-color: #e83739;
  position: absolute;
  margin-top: 11.2px;
  margin-top: .7rem;
  margin-left: -112px;
  margin-left: -7rem;
}

.textarea {
  padding: 16px;
  padding: 1rem;
  width: 480px;
  width: 30rem;
  margin-top: 32px;
  margin-top: 2rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem #cacaca;
}

.submit {
  border: none;
  padding: 24px 32px;
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  background-color: #e83739;
  color: white;
  font-weight: bold;
  letter-spacing: 1.6px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  margin-top: 32px;
  margin-top: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .6);
  transition: opacity .5;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  background: white;
  width: 80vw;
  position: relative;
  transition: all 5s ease-in-out;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

.popup-img {
  width: 80vw;
  height: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
}

.popup-name {
  font-family: denmark;
  font-weight: bold;
  font-size: 40px;
  font-size: 2.5rem;
  margin-bottom: 16px;
  margin-bottom: 1rem
}

.popup-name::before{
  content: '';
  height: 152px;
  height: 9.5rem;
  width: 9.6px;
  width: .6rem;
  background-color: #e83739;
  position: absolute;
  margin-left: -32px;
  margin-left: -2rem;
  margin-top: -64px;
  margin-top: -4rem;
}

.pop-wrap {
  margin: 32px 0 0 80px;
  margin: 2rem 0 0 5rem;
}

.match-age {
  color: #c1c1c1;
  font-weight: bold;
}

.pop-info {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 48px;
  margin-top: 3rem;
}

h3 {
  font-family: denmark;
  font-size: 35.2px;
  font-size: 2.2rem;
  margin: 16px 0;
  margin: 1rem 0;
  font-weight: bold;
}

.popup-description {
  line-height: 150%;
  color: #c1c1c1;
}

.close {
  position: absolute;
  width: 112px;
  width: 7rem;
  height: 112px;
  height: 7rem;
  background-color: white;
  border-radius: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -56px;
  margin-top: -3.5rem;
  margin-left: 56px;
  margin-left: 3.5rem;
}

.closebutton {
  background-image: url(/assets/img/assets/grijskruis.png);
  width: 48px;
  width: 3rem;
  height: 48px;
  height: 3rem;
}

.onboarding {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #e83739;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logogroot {
  background-image: url(/assets/img/assets/logogroot.png);
  width: 377.6px;
  width: 23.6rem;
  height: 160px;
  height: 10rem;
}

.onboard-title {
  font-family: denmark;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 120%;
  border-left: 6.4px solid white;
  border-left: .4rem solid white;
  padding-left: 32px;
  padding-left: 2rem;
  margin: 48px 0;
  margin: 3rem 0;
}

.onboard-wrap {
  width: 480px;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.onboard-text {
  color: white;
  line-height: 200%;
  font-weight: lighter;
}

.fbbutton {
  background-color: #3a5a97;
  border: none;
  padding: 16px 32px;
  padding: 1rem 2rem;
  color: white;
  font-size: 32px;
  font-size: 2rem;
  letter-spacing: 1.6px;
  letter-spacing: .1rem;
  border-radius: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 32px;
  margin-top: 2rem;
}

.fblogo {
  background-image: url(/assets/img/assets/fb.png);
  width: 16px;
  width: 1rem;
  height: 35.2px;
  height: 2.2rem;
  margin-right: 64px;
  margin-right: 4rem;
}

.ellipse1 {
  width: 480px;
  width: 30rem;
  height: 480px;
  height: 30rem;
  margin-left: 400px;
  margin-left: 25rem;
  border-radius: 20rem;
  position: absolute;
  -webkit-clip-path: circle(30rem at center);
          clip-path: circle(30rem at center);
  background-image: url(/assets/img/assets/onboard1.jpg);
  box-shadow: 0 .5rem 1rem #d23234;
}

.onboarding-header {
  background-image: url(/assets/img/assets/header.png);
  width: 592px;
  width: 37rem;
  height: 484.8px;
  height: 30.3rem;
}

.step-title {
  color: white;
  font-size: 44.8px;
  font-size: 2.8rem;
  margin-top: 32px;
  margin-top: 2rem;
  font-family: denmark;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end
}

.step-title.step-title::before{
  content: '';
  width: 160px;
  width: 10rem;
  height: 11.2px;
  height: .7rem;
  background-color: white;
  position: absolute;
  margin-left: -176px;
  margin-left: -11rem;
  margin-top: 16px;
  margin-top: 1rem;
}

.step-text {
  margin-top: 32px;
  margin-top: 2rem;
  color: white;
  width: 240px;
  width: 15rem;
  line-height: 200%;
  font-weight: lighter;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.next {
  background-color: white;
  padding: 16px 32px;
  padding: 1rem 2rem;
  border-radius: 5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 32px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-top: 5rem
}

.next a{
  color: #e83739;
  text-decoration: none;
}

.pijl {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAYCAYAAAAlBadpAAABAUlEQVQ4jZ3UwW2DMBTG8X+w1FPHgA2418klyh6txA6FlECHyAjdAHFK1ag3RoA5qkptk0MIsYjtPOrjs3+ffXh+szzPAUiqOgPutqtlhnAFBiyANKnqQorV29d3CpRG7SFuO9VE4U5y88FSzyQvUPdPj/u47X6AxWjv5guU1pomCvdx2/1ODVBaawCaKPyYGjBgQUDQROG7E08NuMJGwB8w9wVYsTTAiSUBgVNe1sxRP3hx3/Mby9Zmu1rmTmx8FiuE/lf9B1qxBxYmvMJJVace+DIuDriH5fiACw7YA0sXhNMkeQZeHXDtguebbU1wE8JpkoxbUAThMknOAZ9SCHAE6Huc+MvYpbIAAAAASUVORK5CYII=);
  width: 24px;
  width: 1.5rem;
  height: 38.4px;
  height: 2.4rem;
  margin-left: 64px;
  margin-left: 4rem;
}

.enveloppe {
  width: 449.6px;
  width: 28.1rem;
  height: 681.6px;
  height: 42.6rem;
  margin-top: -304px;
  margin-top: -19rem;
  background-image: url(/assets/img/assets/enveloppe.png);
}

.ellipse2 {
  width: 480px;
  width: 30rem;
  height: 480px;
  height: 30rem;
  border-radius: 20rem;
  background-color: white;
  box-shadow: 0 .5rem 1rem #d23234;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 64px;
  margin-top: 4rem;
}

.connect {
  background-image: url(/assets/img/assets/connect.png);
  width: 592px;
  width: 37rem;
  height: 521.6px;
  height: 32.6rem;
}

.detail-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  margin-top: 32px;
  margin-top: 2rem;
}

.detail-img {
  width: 100vw;
}

.detail-title {
  font-family: denmark;
  font-size: 48px;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 64px;
  margin-left: 4rem
}

.detail-title.detail-title::before{
  content: '';
  height: 192px;
  height: 12rem;
  width: 11.2px;
  width: .7rem;
  margin-top: -112px;
  margin-top: -7rem;
  margin-left: -32px;
  margin-left: -2rem;
  background-color: #e83739;
  position: absolute;
}

.detail-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px;
  margin: 2rem;
}

.detail-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 48px;
  margin-top: 3rem;
}

.detail-artist {
  font-weight: bold;
  margin: 32px 0;
  margin: 2rem 0;
}

.detail-description {
  color: #c1c1c1;
  line-height: 150%;
}

.detail-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  margin-top: 80px;
  margin-top: 5rem;
}

.vorige {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAYCAYAAAAlBadpAAAAyElEQVQ4jZ3UTQ7CIBBA4VfbY+g5jBuNnsml2h/bc9noZbxCE2vcMAkhzBRkV+B7dAPFe7sjY3TABAwAVSa8et9DKg5hDxSrP6CMRdwq8AbcLdy6TVEIoOFFqGEN1j6M4caAXTjp48ZtSoI+zoaCNdhYUHChrH0tCFCe15vRRQ7B2tEFnhYGGIEyNyAY4GEE5ljAx1bgFAuEOCsQwxKogH0k8AFeFk4KLL0kcpcvwXwP+pUMA0NkvkzBcrIfqIEu5/WUX59w9/oHKig445S4a4gAAAAASUVORK5CYII=);
  width: 24px;
  width: 1.5rem;
  height: 38.4px;
  height: 2.4rem;
  margin-right: 64px;
  margin-right: 4rem;
}

.detail-next {
  color: #e83739;
  text-transform: uppercase;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map*/